/* soluzione ex1 */
.ex-1-square{
 transition: background 2s;
}

.ex-1-square:hover{
 background:red;
 transition: background 2s;
}

/* soluzione ex2 */
.ex-2-square{
  transition: width 4s;
}

.ex-2-square:active{
  width:100%;
  transition: width 4s;
}

/* soluzione ex3 */
.ex-3-square{
  transition: border-radius 2s;
}

.ex-3-square:hover{
  border-radius: 100%;
  transition: border-radius 2s;
}

/* soluzione ex4 */
.ex-4-square{
  transition: opacity 2s;
}

.ex-4-square:hover{
  opacity: 0;
  transition: opacity 2s;
}

/* soluzione ex5 */
.ex-5-square{
  transition:all 2s;
}

.ex-5-square:hover{
  transition:all 2s;
  transform:  scale(2);
}

.ex-5-square:active{
  width: 20px;
  height: 20px;
  transition: all 2s;
}

/* soluzione ex6 */
.ex-6-img:hover{
  filter: grayscale(0.9);
}

/* soluzione ex7 */
.ex-7-img{
  transition: all 2s;
}

.ex-7-img:hover{
  filter: sepia(0.6) saturate(0.9);
  transition: all 2s;
}

/* soluzione ex8 */
.ex-8-img{
  transition:all 2s;
}

.ex-8-img:hover{
  border-radius: 5%;
  filter:sepia(0.7) contrast(0.9);
  transition:all 2s;
}

/* soluzione ex9 */
.ex-9-img{
  transition:all 2s;
}

.ex-9-img:hover{
  border-radius: 5%;
  filter:sepia(0.7) contrast(0.9);
  transform:  scale(1.5);
  transition:all 2s;
}

/* soluzione ex10 */
.ex-10-icon{
  animation: ruota 1s infinite linear;
}
@keyframes ruota{
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* soluzione ex11 */
.ex-11-icon:hover{
  animation-name: ruotadue;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 4s;

}

@keyframes ruotadue{
0%{
    transform: rotate(0deg);
  }
 90% {
    transform: rotate(300deg);
  }
  100%{
      transform: rotate(0deg);
    }
}

/* soluzione ex12 */
.ex-12-button:hover .ex-12-top-white{
  animation-name: scorri;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 2s;

}

@keyframes scorri{
0%{
    left: 10%;
}
50%{
  left: 70%;
}
100%{
  left: 10%;
}
}

.ex-12-button:hover .ex-12-bottom-white{
  animation-name: scorridue;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 2s;

}

@keyframes scorridue{
0%{
    right: 20%;
}
50%{
  right: 69%;
}
100%{
  right: 20%
}
}

/* soluzione ex13 */

.ex-13-button:hover .ex-13-top-white{
animation: scorriultimo 2s linear;
}

@keyframes scorriultimo{
  0% {
    left: 10%;
    top: -10px;
}
30% {
    left: calc(100% - 30px);
    top: -10px;
}
45% {
    left: calc(100% - 30px);
    top: 100%;
}
75% {
    left: 0;
    top: 100%;
}
90% {
    left: -15px;
    top: -10px;
}
100% {
    left: 10%;
    top: -10px;
}}

.ex-13-button:hover .ex-13-bottom-white{
animation: scorriultimodue 2s linear;
}

@keyframes scorriultimodue{
  0% {
    bottom: -10px;
    right: 20%;
}
30% {
    right: calc(100% - 30px);
    bottom: -10px;
}
45% {
    right: calc(100% - 30px);
    bottom: 100%;
}
75% {
    right: 0;
    bottom: 100%;
}
90% {
    right: -15px;
    bottom: -10px;
}
100% {
    bottom: -10px;
    right: 20%;
}
}
